/*This is the affiliated CSS sheet for final_template.html.*/

h1, h3 {
	font-family: 'Georgia', serif;
}
h3 {
	margin-left: 10px;
	margin-bottom: 20px;
}
h4 {
	margin-left: 10px;
}
p {
	font-family: 'Helvetica Neue', sans-serif;
	margin-left: 10px;
	margin-bottom: 10px;
}
.lead{
	font-family: 'Times New Roman', fantasy;
	text-align: center;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .last-paragraph {
 	margin-bottom: 50px;
 }
button {
	margin-left: 10px;
}
.accordion {
	margin-bottom: 25px;
}
.accordion-button {
	font-weight: bold;
}
.fixed-bottom {
	margin-left: 10px;
	margin-top: 25px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}